<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <frontend>
                <banner_catalog>1</banner_catalog>
                <banner_product>1</banner_product>
            </frontend>
        </catalog>
    </default>
</config>
