<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AdeoWeb\WeatherConditions\Api\Data\WeatherTypeInterface" type="AdeoWeb\WeatherConditions\Model\WeatherType" />
    <preference for="AdeoWeb\WeatherConditions\Api\WeatherTypeRepositoryInterface" type="AdeoWeb\WeatherConditions\Model\WeatherTypeRepository" />
    <preference for="AdeoWeb\WeatherConditions\Api\Data\WeatherTypeSearchResultsInterface" type="AdeoWeb\WeatherConditions\Model\WeatherTypeSearchResults" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="weatherconditions_weathertype_listing_data_source" xsi:type="string">Magento\Cms\Model\ResourceModel\Block\Grid\Collection</item>
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">WeatherTypeItemIdFilterPool</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\ResourceModel\Block\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">adeoweb_weatherconditions_weathertype</argument>
            <argument name="resourceModel" xsi:type="string">AdeoWeb\WeatherConditions\Model\ResourceModel\WeatherType</argument>
        </arguments>
    </type>
    <virtualType name="WeatherTypeItemIdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="AdeoWeb\WeatherConditions\Api\Data\WeatherTypeInterface" xsi:type="string">AdeoWeb\WeatherConditions\Api\WeatherTypeRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <type name='Magento\ConfigurableProduct\Block\Product\View\Type\Configurable'>
        <plugin name='banner_plugin' type='AdeoWeb\WeatherConditions\Plugin\testPlug' sortOrder='10' disabled='false'/>
    </type>

</config>
