@size-full-width: 100%;
.container {
  width: @size-full-width;
  margin-right: auto;

  .button-container {
    display: flex;

    .button {
    }
  }

  .form-container {

    .form {
      display: none;

      .label-id {
        display: none;

        .user-id {
        }
      }

      .label-weathertype {
        display: none;

        .weathertype-id {
        }
      }

      .span-output {
        display: none;
      }
    }

    .submit-button {
      display: none;
    }
  }
}
