.weathertype-responsive-table {
    width: 100%;
    display: table;
    margin-right: auto;
}
.weathertype-responsive-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.weathertype-responsive-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}
.weathertype-table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.weathertype-responsive-table-body {
    display: table-row-group;
}
.weathertype-responsive-table-row {
    display: table-row;
}
.weathertype-table-body-cell {
    display: table-cell;
    border: solid 1px black;
}
.weathertype-img {
    width: 18px;
    height: 18px;
}
